body {
  font-family: sans-serif;
  font-weight: light;
  margin: 0;
  overflow: hidden;
}

*::placeholder {
  color: gray;
}

::-webkit-scrollbar {
  background-color: var(--joy-palette-primary-400);
  width: 5px;
  border-radius: 10px;
  padding-left: 1000px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--joy-palette-primary-100);
  border-radius: 10px;
}
